body {background: #eee;}
.swing {
    animation: swing ease-in-out 2s infinite alternate;
    transform-origin: -15px -135px;
    float:left;

}

.swing img {
    width:300px;
}




@keyframes swing {
    0% { transform: rotate(90deg); }
    100% { transform: rotate(-25deg); }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 1%;
}